[apps/update-manager]
first-run=false
show-details=true

[com/gexperts/Tilix]
accelerators-enabled=true
prompt-on-close=true
prompt-on-delete-profile=true
quake-specific-monitor=0
theme-variant='dark'
use-tabs=true

[com/gexperts/Tilix/keybindings]
app-new-session='<Primary>t'
terminal-copy='<Primary>c'
terminal-paste='<Primary>v'

[com/gexperts/Tilix/profiles]
list=['2b7c4080-0ddd-46c5-8f23-563fd3ba789d']

[com/gexperts/Tilix/profiles/2b7c4080-0ddd-46c5-8f23-563fd3ba789d]
background-transparency-percent=4
use-theme-colors=true
visible-name='Default'

[com/solus-project/budgie-panel]
dark-theme=true
migration-level=1
builtin-theme=true
panels=['000000a4-0000-0000-0000-000000000000']

[com/solus-project/budgie-panel/applets/{000000a5-0000-0000-0000-000000000000}]
alignment='start'
name='Budgie Menu'
position=0

[com/solus-project/budgie-panel/applets/{000000a6-0000-0000-0000-000000000000}]
alignment='start'
name='Spacer'
position=1

[com/solus-project/budgie-panel/applets/{000000a7-0000-0000-0000-000000000000}]
alignment='start'
name='Icon Task List'
position=2

[com/solus-project/budgie-panel/applets/{000000a8-0000-0000-0000-000000000000}]
alignment='end'
name='Spacer'
position=0

[com/solus-project/budgie-panel/applets/{000000a9-0000-0000-0000-000000000000}]
alignment='end'
name='System Tray'
position=1

[com/solus-project/budgie-panel/applets/{000000aa-0000-0000-0000-000000000000}]
alignment='end'
name='Notifications'
position=2

[com/solus-project/budgie-panel/applets/{000000ab-0000-0000-0000-000000000000}]
alignment='end'
name='Status Indicator'
position=3

[com/solus-project/budgie-panel/applets/{000000ac-0000-0000-0000-000000000000}]
alignment='end'
name='User Indicator'
position=4

[com/solus-project/budgie-panel/applets/{000000ad-0000-0000-0000-000000000000}]
alignment='end'
name='Spacer'
position=5

[com/solus-project/budgie-panel/applets/{000000ae-0000-0000-0000-000000000000}]
alignment='end'
name='Separator'
position=6

[com/solus-project/budgie-panel/applets/{000000af-0000-0000-0000-000000000000}]
alignment='end'
name='Clock'
position=7

[com/solus-project/budgie-panel/applets/{000000b0-0000-0000-0000-000000000000}]
alignment='end'
name='Raven Trigger'
position=8

[com/solus-project/budgie-panel/instance/icon-tasklist/{000000a7-0000-0000-0000-000000000000}]
pinned-launchers=['google-chrome.desktop', 'code_code.desktop', 'com.gexperts.Tilix.desktop', 'nemo.desktop', 'postman_postman.desktop', 'keepass2.desktop']

[com/solus-project/budgie-panel/panels/{000000a4-0000-0000-0000-000000000000}]
applets=['000000a7-0000-0000-0000-000000000000', '000000ae-0000-0000-0000-000000000000', '000000aa-0000-0000-0000-000000000000', '000000af-0000-0000-0000-000000000000', '000000ab-0000-0000-0000-000000000000', '000000a8-0000-0000-0000-000000000000', '000000ac-0000-0000-0000-000000000000', '000000a9-0000-0000-0000-000000000000', '000000a5-0000-0000-0000-000000000000', '000000ad-0000-0000-0000-000000000000', '000000a6-0000-0000-0000-000000000000', '000000b0-0000-0000-0000-000000000000']
enable-shadow=true
location='bottom'
size=39
transparency='none'

[com/solus-project/budgie-wm]
button-layout='appmenu:minimize,maximize,close'
caffeine-mode=false
center-windows=false

[com/ubuntu/update-notifier]
regular-auto-launch-interval=0

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///home/john/Pictures/fire-tiger_2560x1440.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/desktop/interface]
clock-format='12h'
cursor-theme='DMZ-White'
document-font-name='Sans 11'
font-name='Ubuntu 11'
gtk-im-module='gtk-im-context-simple'
gtk-theme='Arc-Darker'
icon-theme='Pocillo'
monospace-font-name='Ubuntu Mono 13'

[org/gnome/desktop/screensaver]
color-shading-type='solid'
lock-enabled=false
picture-options='zoom'
picture-uri='file:///home/john/Pictures/fire-tiger_2560x1440.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/desktop/session]
idle-delay=uint32 0

[org/gnome/desktop/wm/preferences]
button-layout='appmenu:minimize,maximize,close'
theme='Arc-Darker'
titlebar-font='Ubuntu Bold 11'

[org/gnome/gedit/plugins/filebrowser]
tree-view=true

[org/gnome/gedit/preferences/ui]
show-tabs-mode='auto'

[org/gnome/gthumb/browser]
fullscreen-sidebar='hidden'
fullscreen-thumbnails-visible=false
maximized=true
sidebar-visible=true
sort-inverse=false
sort-type='file::mtime'
statusbar-visible=true
thumbnail-list-visible=true
viewer-sidebar='hidden'

[org/gnome/nautilus/desktop]
font='Ubuntu 10'
home-icon-visible=true
trash-icon-visible=true
volumes-visible=true

[org/gnome/nautilus/list-view]
default-column-order=['name', 'size', 'type', 'owner', 'group', 'permissions', 'mime_type', 'where', 'date_modified', 'date_modified_with_time', 'date_accessed', 'recency']
default-visible-columns=['name', 'size', 'date_modified']

[org/gnome/nautilus/preferences]
default-folder-viewer='list-view'
search-filter-time-type='last_modified'
search-view='list-view'
use-experimental-views=true

[org/gnome/settings-daemon/peripherals/keyboard]
numlock-state='on'

[org/gnome/settings-daemon/plugins/color]
night-light-enabled=true
night-light-schedule-automatic=true

[org/gtk/settings/file-chooser]
clock-format='12h'
date-format='regular'
location-mode='path-bar'
show-hidden=true
show-size-column=true
show-type-column=true
sidebar-width=153
sort-column='name'
sort-directories-first=true
sort-order='ascending'
type-format='category'
